<div class="row">
  <div class="col-md-4">
    <div class="card">
<!--      <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">-->
      <div class="card-header">
        <span class="dot"></span>
      </div>
      <div class="card-body">
        <h4 class="card-title">Choji Moses</h4>
        <p class="card-text"><strong>Address:</strong> along, Abuja-keffi road</p>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <button type="button" class="btn btn-rounded btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <!--      <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">-->
      <div class="card-header">
        <span class="dot"></span>
      </div>
      <div class="card-body">
        <h4 class="card-title">Choji Moses</h4>
        <p class="card-text"><strong>Address:</strong> along, Abuja-keffi road</p>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <button type="button" class="btn btn-rounded btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <span class="dot"></span>
      </div>
      <div class="card-body">
        <h4 class="card-title">Abah Enna</h4>
        <p class="card-text"><strong>Address:</strong>Gudu Abuja road</p>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <button type="button" class="btn btn-rounded btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
