<div class="row">
  <div class="col-md-4">
    <div class="card">
      <!--      <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">-->
      <div class="card-header">
        <span class="float-right redDot"></span>
      </div>
      <div class="card-body">
        <h4 class="card-title">Choji Moses</h4>
        <p class="card-text"><strong>Address:</strong> along, Abuja-keffi road</p>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <button type="button" class="btn btn-rounded btn-primary" (click)="openLg(viewUserProfileModal)">View Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <!--      <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">-->
      <div class="card-header">
        <span class="float-right greenDot"></span>
      </div>
      <div class="card-body">
        <h4 class="card-title">Adamu Yaya</h4>
        <p class="card-text"><strong>Address:</strong>Zaria, Kaduna State</p>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <button type="button" class="btn btn-rounded btn-primary" (click)="openLg(viewUserProfileModal)">View Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <span class="float-right redDot"></span>
      </div>
      <div class="card-body">
        <h4 class="card-title">Abah Enna</h4>
        <p class="card-text"><strong>Address:</strong>Gudu Abuja road</p>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <button type="button" class="btn btn-rounded btn-primary" (click)="openLg(viewUserProfileModal)">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--password modal-->
<ng-template #viewUserProfileModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">User Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="form-group col-md-9">
            <label for="password">User Name</label>
            <input id="password" type="text" class="form-control" placeholder="Musa Chidi Ayo">
          </div>
          <div class="form-group col-md-9">
            <label for="password2">User Position</label>
            <input id="password2" type="text" class="form-control" placeholder="Supervior">
          </div>
          <div class="form-group col-md-9">
            <label for="location">Security Post</label>
            <input id="location" type="text" class="form-control" placeholder="KSL One">
          </div>
        </div>
        <div class="form-group col-md-9">
          <label for="address">Address</label>
          <textarea id="address" class="form-control" rows="3" placeholder="Awada, area of Kooti State"></textarea>
        </div>
      </div>
      <div class="col-md-3">
        <img class="card-img-top img-responsive" src="assets/images/big/male.png"  alt="Card">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-rounded btn-secondary" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>
