<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create User</h4>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input id="firstName" type="text" class="form-control" placeholder="First Name">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="otherName">Other Name</label>
              <input id="otherName" type="text" class="form-control" placeholder="other Name">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input id="lastName" type="text" class="form-control" placeholder="last Name">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="phoneNumber">Mobile Number</label>
              <input id="phoneNumber" type="text" class="form-control" placeholder="Phone Number">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input id="email" type="text" class="form-control" placeholder="email address">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="gender">Gender</label>
             <select id="gender" class="form-control">
               <option>Male</option>
               <option>Female</option>
             </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="securityPost">Select Security Post</label>
             <select id="securityPost" class="form-control">
               <option>Select Security Post</option>
               <option>KSL One</option>
               <option>KSL Two</option>
             </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="securityPosition">Select Position</label>
              <select id="securityPosition" class="form-control">
                <option>Select Position</option>
                <option>Supervisor</option>
                <option>Guard</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="clockFrequency">Select Check Frequency</label>
              <select id="clockFrequency" class="form-control">
                <option>Select Clock Frequency</option>
                <option>2 hours</option>
                <option>3 hours</option>
                <option>4 hours</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <button type="button" class="btn btn-rounded btn-block btn-primary">upload image</button>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="address">Select Check Frequency</label>
              <textarea id="address" class="form-control" cols="7"></textarea>
            </div>
          </div>

        </div>
        <button type="button" class="btn btn-rounded btn-primary">Create User</button>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
