<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Activate Device</h4>
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <label for="firstName">Device Name</label>
              <input id="firstName" type="text" class="form-control" placeholder="Device Name">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="form-group">
              <label for="securityPost">Select Security Post</label>
              <select id="securityPost" class="form-control">
                <option>Select Security Post</option>
                <option>KSL One</option>
                <option>KSL Two</option>
              </select>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="form-group">
              <label for="address">Description</label>
              <textarea id="description" class="form-control" cols="7"></textarea>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="form-group">
              <label for="address">Address</label>
              <textarea id="address" class="form-control" cols="7"></textarea>
            </div>
          </div>

        </div>
        <button type="button" class="btn btn-rounded btn-primary">Activate Device</button>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
